<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Período Fértil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fertile_period.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>
<body>
    <header>
        <h1>Portal Saúde & Fitness</h1>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('profile') }}">Perfil</a>
            <a href="{{ url_for('about') }}">Sobre</a>
            <a href="{{ url_for('imc') }}">IMC</a>
            <a href="{{ url_for('greeting', nome='Convidado', idade=25, meta='Estar saudável') }}">Saudação</a>
            <a href="{{ url_for('fertile_period_page') }}">Período Fértil</a>
        </nav>
    </header>
    <main>
        <h1>Calculadora de Período Fértil</h1>
        <div class="form-box">
            <div>
                <label for="last-cycle-date">Data da Última Menstruação:</label>
                <input type="date" id="last-cycle-date" name="last-cycle-date">
            </div>
            <button type="button" id="calculate-btn">Calcular</button>
        </div>
        <div id="resultado-container" class="box" style="display: none;">
            <h2>Resultado</h2>
            <div id="calendar-container"></div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/fertile_period.js') }}"></script>
</body>
</html>