<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultado do IMC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/imc.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
</head>
<body>
    <header>
        <h1>Portal Saúde & Fitness</h1>
        <nav>
            <a href="{{ url_for('index') }}">Início</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('profile') }}">Perfil</a>
            <a href="{{ url_for('about') }}">Sobre</a>
        </nav>
    </header>
    <main>
        <div class="result-container" id="result-container">
            <h3 id="operation-name">Índice de Massa Corporal (IMC)</h3>
            <p id="operation-text"></p>
            <h2 id="result"></h2>
            <p id="imc-category"></p>
            <div class="ideal-weight">
                <h3>Peso Ideal</h3>
                <p id="ideal-weight-value"></p>
            </div>
            <div class="imc-scale">
                <div class="imc-scale-limits">
                    <span class="limit-value" style="left: 14%;"></span>
                    <span class="limit-value" style="left: 40%;"></span>
                    <span class="limit-value" style="left: 60%;"></span>
                </div>
                <div class="imc-scale-bar">
                    <div class="imc-scale-category" style="width: 14%; background-color: #3498db;"></div>
                    <div class="imc-scale-category" style="width: 26%; background-color: #2ecc71;"></div>
                    <div class="imc-scale-category" style="width: 20%; background-color: #f1c40f;"></div>
                    <div class="imc-scale-category" style="width: 40%; background-color: #e74c3c;"></div>
                </div>
                <div id="imc-pointer" class="imc-scale-pointer"></div>
                <div class="imc-scale-labels">
                    <span style="width: 14%">Magreza</span>
                    <span style="width: 26%">Normal</span>
                    <span style="width: 20%">Sobrepeso</span>
                    <span style="width: 40%">Obesidade</span>
                </div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/imc.js') }}"></script>
</body>
</html>